@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

html {
	background-color: #2E3284;
	color: #B9D0DA;
}

main {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: #2A205E;
}

footer {
	background-color: #1D2046;
}


/*Section Styling*/
/*Header Section*/
.logo {
	display: inline-block;
}


/*Navigation*/
nav {
	display: inline;
	float: right;
}

nav li {
	display: inline-block;
	padding: 
}

nav a {
	color: #B9D0DA;
}